body{
  margin: 0
}

.main-left-margin{
  margin-left: 85px
}

.main-top-margin{
  margin-top: 40px
}

.viva-graph {
  margin-top: 40px;
  height: 500px;
  width: 100%;
  border: solid 2px;
}

svg {
  height: 100%;
  width: 100%;
}
